Flask==2.2.5
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
WTForms==3.2.1
Werkzeug==2.2.2
SQLAlchemy==2.0.41
alembic==1.16.4
itsdangerous==2.1.2
pytz==2022.7.1
holidays==0.75
numpy==1.25.2
pandas==1.5.3
apscheduler
gunicorn
celery
redis